{% extends "base.html" %}

{% block head %}
{{ super() }}
    <meta name="description" content="Learn about me, Tyler Gargula and how I combine my passions for Tech SEO and Software Development.">
<meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.tylergargula.dev/about">
{% endblock %}
{% block title %}About Me{% endblock %}


{% block content %}

    <section id="two">
        <h1>Bridging the gap between SEO and Software Development.</h1>
        <p>My recent undertaking of Software Development started late 2020 when I noticed a disconnect between SEO's and
            Web
            Developers - largely a technical gap. From that point forward,&nbsp; I've dedicated my
            tech practice to merging the gap between the SEO world and Software Development.&nbsp;</p>
        <p>Today, I combine my tenured Tech SEO experience with a new Software Development foundation to have a deep
            understanding of the teams involved in the product delivery process - from site migrations, to
            mature site redesigns, and everything else in-between.&nbsp;</p>
                <ul class="actions">
            <li><a href="static/docs/web_resume_2022.pdf" class="button" target="_blank">Resume & Experience</a></li>
        </ul>
    </section>



{% endblock %}
