{% extends "base.html" %}

{% block head %}
{{ super() }}
<title> | Tyler Gargula</title>
    <meta name="robots" content="index, follow">
        <meta name="description" content="Learn about how I utilize Python to help elevate my SEO efforts with automation, data science, machine learning, and ai driven content creation.">
    <link rel="canonical" href="https://www.tylergargula.dev/apps">

{% endblock %}
{% block title %}Python Apps for SEO{% endblock %}


{% block content %}

    <section id="one">
        <h1>SEO Python Apps</h1>
        <p>Discover how I utilize Python to help automate and enhance my efforts in SEO.</p>
        </section>
  <section id="two">
      <h2>Micro Python Apps</h2>
      <article class="col-6 col-12-xsmall work-item">

                <a class="image fit thumb" style="cursor: pointer; outline: 0px;"
                   href="https://tylergargula-serp-metadata-seo-app-main-atzybv.streamlitapp.com/" target="_blank">

                    <img
                            src="static/images/google_serp_rewrite_thumb.png"
                            alt="thumbnail image showing Google SERP title and meta description fields">
                </a>
<h3><a href="https://tylergargula-serp-metadata-seo-app-main-atzybv.streamlitapp.com/" target="_blank">SERP Metadata Rewrite App</a></h3>
                <p>See how closely Google is presenting your page in the SERP compared to your pre-defined title tag and meta description</p>
            </article>
    </section>


{% endblock %}


