<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://github.com/tylergargula" class="icon brands fa-github"><span
                    class="label">Github</span></a></li>
            <li><a href="https://open.spotify.com/artist/4wZ8VQ73g7CdsFdo4VXDJD?si=mLoTz57oQpSyQSenj1ciEg"
                   class="icon brands fa-spotify"><span
                    class="label">Spotify</span></a></li>
            <li><a href="mailto:tyler.gargula@exegigroup.com" class="icon solid fa-envelope"><span
                    class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>© {{ year }} Tyler Gargula</li>
        </ul>
    </div>
</footer>
