<section id="three">
    <h2>Get In Touch</h2>
    <p>That is, if I'm not songwriting, brewing my own kombucha, or riding my fixed-gear bike around Chicago with my
        partner.&nbsp;</p>
    <div class="row">
        <div class="col-8 col-12-small">
            <form id="contact-form" method="post" action="{{ url_for('receive_data') }}">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email"
                                                            placeholder="Email"></div>
                    <div class="col-12"><textarea name="message" id="message" placeholder="Message"
                                                  rows="4"></textarea></div>
                </div>
            </form>
            <ul class="actions">
                <li><input type="submit" value="Send Message" form="contact-form"></li>
            </ul>
        </div>
        <div class="col-4 col-12-small">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon solid fa-city"><span class="label">Address</span></h3>Chicago, IL<br>
                </li>
                <li>
                    <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                    <a href="http://127.0.0.1:5000/#">tyler.gargula@exegigroup.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>
