<header id="header">
    <!-- Navbar -->
    {% include "navbar.html" %}
    <div class="inner">
        <a href="{{ url_for('get_all_case_studies')}}" class="image avatar">
            <div class="circular--portrait">
                <img src="../static/images/tyler.jpg" alt="">
            </div>
        </a>
        <h2><strong>I'm Tyler Gargula,</strong>&nbsp;a Sr. Tech SEO
            and Software Developer.</h2>
        <a href="https://www.linkedin.com/in/tylergargula/" class="connect-link">Let's connect</a>.
    </div>

</header>
