{% extends "base.html" %}

{% block head %}
{{ super() }}

    <meta name="description" content="Hey, I'm Tyler Gargula - a Tech SEO and Web Developer. Check out a few recent projects and learn more about my background and past work experiences.">
    <meta name="robots" content="index, follow">
        <link rel="canonical" href="https://www.tylergargula.dev">
{% endblock %}
{% block title %}Tyler Gargula - SEO &amp; Software Development Portfolio{% endblock %}

{% block content %}

    <!-- One -->

    <section id="one">
        <header class="major">
            <h1>I create elevated digital experiences through highly technical and strategic SEO.</h1>
        </header>
            </section>




    <!-- Two -->
    <section id="two">
        <h2>Recent Work</h2>
        <div class="row">
            {% for case_study in portfolio: %}
            <article class="col-6 col-12-xsmall work-item">

                <a class="image fit thumb" style="cursor: pointer; outline: 0px;"
                   href="{{ url_for('show_portfolio', index=case_study.id, path=case_study.url_string) }}">
                    <img
                            src="{{ case_study.image }}"
                            alt="">
                </a>

                <h3>{{ case_study.title }}</h3>
                <p>{{ case_study.tagline }}</p>
            </article>
            {% endfor %}
        </div>
        <ul class="actions">
            <li><a href="{{ url_for('all_work') }}" class="button">All Work</a></li>
        </ul>
            </section>

{% endblock %}





