{% extends "base.html" %}

{% block head %}
{{ super() }}

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
{% endblock %}
 {% block title %}Thank You{% endblock %}



{% block content %}

    <!-- One -->
    <section id="one">

        <h1>Thanks, {{ first_name }}! Message received.</h1>
        <h2>I'll be reaching out soon, thanks again for showing interest in my work.</h2>
        <p>Or - if you're trying to sell me something, thanks I guess, but your message is more than likely not going to
            be
            opened.</p>

    <!-- Back -->

    <ul class="actions">
        <li><a href="{{ url_for('get_all_case_studies') }}" class="button">Back</a></li>
    </ul>

    </section>
{% endblock %}



