{% extends "base.html" %}
{% block head %}
{{ super() }}

    <meta name="robots" content="index, follow">
        <meta name="description" content="Explore some of my previous work surrounding SEO website migrations on Salesforce (SFCC) and Magento 2, as well as other SEO projects.">
    <link rel="canonical" href="https://www.tylergargula.dev/work">

{% endblock %}
{% block title %}Recent Work & Portfolio{% endblock %}




{% block content %}

    <section id="one">
        <h1>Recent Work</h1>
        <h2>The following clients are from a mix of work as a fully employed SEO as well as independent
            SEO consulting/contracting.</h2>
        </section>

    <section id="two">
        <div class="row">
            {% for case_study in portfolio: %}
            <article class="col-6 col-12-xsmall work-item">

                <a class="image fit thumb" style="cursor: pointer; outline: 0px;"
                   href="{{ url_for('show_portfolio', index=case_study.id, path=case_study.url_string) }}">
                    <img
                            src="{{ case_study.image }}"
                            alt="">
                </a>

                <h3>{{ case_study.title }}</h3>
                <p>{{ case_study.tagline }}</p>
            </article>
            {% endfor %}
        </div>
    </section>


{% endblock %}